* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #FFFAF0;
  height: 100%;
}

a {
  font-family: poynter-oldstyle-display, serif;
  font-style: bold;
}

h1 {
 font-family: poynter-oldstyle-display, serif;
 font-style: bold;
 font-size: 90px;
}

/* h2 {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
} */

h3 {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
}

p {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
}

ul {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
}

.em{
 font-family: poynter-oldstyle-display, serif;
 font-style: italic;
}

.about {
  position: relative;
  margin-right: 20px;
}

.align {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 70px;
  top: 10px;
}

.top-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 10px;
  left: 30px;
}
