* {
  box-sizing: border-box;
}

body {
  background-color: #FFFAF0;
}

a {
  font-family: poynter-oldstyle-display, serif;
  font-style: bold;
  font-size: 50px;
}

h1 {
 font-family: poynter-oldstyle-display, serif;
 font-style: bold;
 font-size: 90px;
}

/* h2 {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
} */

h3 {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
}

p {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
}

ul {
 font-family: poynter-oldstyle-display, serif;
 font-style: normal;
}

.em{
 font-family: poynter-oldstyle-display, serif;
 font-style: italic;
}

.about {
  position: relative;
  margin-right: 20px;
}

.align {
  position: fixed;
  right: 60px;
  top: 15px;
}

.top-bottom {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 200px;
  right: 60px;
  margin: 30px;
}
