* {
  box-sizing: border-box;
}

html {
  font-family: 'Amiri', serif;
  font-style: normal;
}

body {
  margin: 0;
  background: rgb(199, 221, 222);
  font-family: 'Amiri', serif;
  font-style: normal;
}

.absolute {
  position: absolute;
 left: 50%;
}

.cloudiation {

}

.textbox {
  position: absolute;
  /* text-align: center;
  font-size: 13px; */
  width: 250px;
  height: 180px;
  background:rgb(199, 221, 222);
  justify-content: center;
  align-items: center;
}

.textcenter {
  position: absolute;
  text-align: center;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  width: 200px;
  height: 35px;
  overflow-y: scroll;
}

.jptext {
  font-size: 12px;
}
.flex {
  height: 100vh;
display: flex;
}

.half {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 280px;
  height: 400px;

}

.container img {
  width: auto;
  height: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
